.homepage-title-container {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	margin-bottom: 1rem;
}

.form-container {
	width: 25rem;
	margin: auto;
}

.comment-button {
	margin: 0.5rem 0 !important;
}

@media screen and (min-width: 700px) {
	.comment-button {
		margin: 0 3rem 0 0.5rem !important;
	}
}
